* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./fonts";
@import "./variables";
@import "./mixins";

html {
  font-family: $main-font;
  font-size: 10px;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.card {
  background-color: red;
  &:nth-child(1) {
    grid-row: span 2;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}
