@import "./fonts";
@import "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $main-font;
  font-size: 10px;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-very-dark;
}

.container {
  width: 112.2rem;
  margin: 0 auto;
  padding: 2.5rem;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-gap: 2.4rem;
}

.card {
  background-color: $color-dark;
  border-radius: 1.4rem 1.4rem 1.6rem 1.6rem;
  &:nth-child(1) {
    grid-row: span 2;
    padding: 0;
  }
  &--work {
    background-color: $color-work;
    background-image: url(../images/icon-work.svg);
  }
  &--play {
    background-color: $color-play;
    background-image: url(../images/icon-play.svg);
  }
  &--study {
    background-color: $color-study;
    background-image: url(../images/icon-study.svg);
  }
  &--exercise {
    background-color: $color-exercise;
    background-image: url(../images/icon-exercise.svg);
  }
  &--social {
    background-color: $color-social;
    background-image: url(../images/icon-social.svg);
  }
  &--self {
    background-color: $color-self;
    background-image: url(../images/icon-self-care.svg);
  }
  &--work,
  &--play,
  &--study,
  &--exercise,
  &--social,
  &--self {
    background-repeat: no-repeat;
    background-position: top -0.5rem right 2rem;
  }

  .user {
    background-color: $color-primary;
    display: flex;
    align-items: center;
    padding: 3.2rem 2.5rem;
    border-radius: 1.4rem;
    @include desktop {
      flex-direction: column;
      align-items: flex-start;
      padding: 3.2rem 2.5rem 8rem 2.5rem;
    }
    &__img {
      width: 7rem;
      border: 0.3rem solid $color-light;
      border-radius: 6.5rem;
      @include desktop {
        width: 8.6rem;
        margin-bottom: 4rem;
      }
    }
    &__info {
      padding-left: 1.6rem;
      @include desktop {
        padding-left: 0;
      }
      p {
        font-size: 1.5rem;
        color: $color-pale;
      }
      h1 {
        font-size: 2.4rem;
        font-weight: 300;
        color: $color-light;
        margin-top: 0.5rem;
        @include desktop {
          font-size: 3.8rem;
        }
      }
    }
  }

  .nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    color: $color-desaturated;
    padding: 2.8rem;
    list-style: none;
    @include desktop {
      flex-direction: column;
    }
    li {
      a {
        color: $color-desaturated;
        text-decoration: none;
        &:hover {
          color: $color-light;
        }
      }
      @include desktop {
        padding-bottom: 2rem;
        &:last-child {
          padding-bottom: 0;
        }
      }
      .active {
        color: $color-light;
      }
    }
  }
}

.stats {
  background-color: $color-dark;
  border-radius: 1.4rem;
  padding: 3rem;
  margin-top: 4rem;
  &:hover {
    background-color: $color-card-hover;
    cursor: pointer;
  }
  @include desktop {
    margin-top: 4.5rem;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include desktop {
      &:last-child {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    color: $color-light;
    padding-bottom: 0.8rem;
  }
  &__icon {
    width: 2.1rem;
    height: 0.5rem;
    &:hover path {
      fill: #fff;
    }
  }
  &__hours {
    font-size: 3.2rem;
    font-weight: 300;
    color: $color-light;
    @include desktop {
      font-size: 5.8rem;
      padding: 2rem 0 0.6rem 0;
    }
  }
  &__date {
    font-size: 1.5rem;
    font-weight: 300;
    color: $color-pale;
  }
}

.attribution {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  padding: 2rem;
  color: $color-desaturated;
  a {
    color: $color-desaturated;
  }
  a:hover {
    color: $color-primary;
  }
}
